<app-toolbar (menuToggled)="toggle()"></app-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer [(opened)]="opened" class="example-sidenav" mode="side">
    <mat-sidenav-container class="example-sidenav-container" autosize>
      <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
        <app-sidebar-items
        [menuItems]="menuItems"
        [isExpanded]="isExpanded"
        ></app-sidebar-items>
      </mat-sidenav>
    </mat-sidenav-container>
  </mat-drawer>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
