<h3>Dashboard</h3>

<div *ngIf="loading">
  <!--  <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
  <mat-spinner></mat-spinner>
</div>


<div class="col-12" *ngIf="!loading">
  <div class="row">
    <div class="col-3">
      <mat-card appearance="outlined">
        <mat-card-title>Asteroid count</mat-card-title>
        <canvas
          baseChart
          [data]="pieChartData"
          [type]="'pie'"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins">
        </canvas>
      </mat-card>
    </div>
    <div class="col-9">
      <mat-card appearance="outlined">
        <mat-card-title>Bar Chart</mat-card-title>
        <canvas
          baseChart
          [type]="'bar'"
          [data]="multiChartData"
          [labels]="multiChart.labels"
          [legend]="true">
        </canvas>
      </mat-card>
    </div>
  </div>
</div>
